.info3 {
    margin: 0 25rem;
    font-size: large;
}

.info4 {
    margin-left: 40rem;
    font-size: large;
}

body{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, white 0%, #bfdcee 100%);
  font-family: "Lato", sans-serif;
}