<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Rehash Home Page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css'>
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="navbar" class="uk-navbar-container" uk-sticky>
  <div class="uk-container uk-container">
      <div class="uk-navbar">
          <div class="uk-navbar-left">
              <div class="uk-navbar-item">
                <a class="logo" href="{{url_for('home')}}"><img src="{{url_for('static', filename='images/logo.png')}}" style = "vertical-align:middle;"></a>
              </div>
          </div>
          <div class="uk-navbar-right">
              <ul class="uk-navbar-nav uk-visible@s ">
                  <li class="active"><a href="{{url_for('home')}}"><i class="fa fa-home fa-fw mr-1"></i>Home</a></li>
                  <li class="active"><a href="{{url_for('summarize')}}"><i class="fa fa-pencil-square-o  fa-fw mr-1"></i>Summarize</a></li>
                  <li><a href="{{url_for('about')}}"><i class="fa fa-info-circle fa-fw mr-1"></i>About</a></li>
                  {% if current_user.is_authenticated %}
                  <li><a href="{{url_for('logout')}}"><i class="fa fa-sign-out fa-fw mr-1"></i>Log Out</a></li>
                  {% else %}
                  <li><a href="{{url_for('signup')}}"><i class="fa fa-user-plus fa-fw mr-1"></i>Register</a></li>
                  <li><a href="{{url_for('login')}}"><i class="fa fa-sign-in fa-fw mr-1"></i>Log In</a></li> 
                  {% endif %}

                  
              </ul>
              <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a>
          </div>
      </div>
  </div>
</div>
<h1 class="heading"> About Us </h1>
  <br>
  <br>
  <div class="left">
    <img class="photo1" src="{{url_for('static', filename='images/arinjay.jpeg')}}">
    <p class="info3">Arinjay Shukla <br> Computer Science Undergraduate <br> Thapar Institute of Engineering and Technology, Patiala<br> Machine Learing and Data Analyst<br> ashukla1_be19@thapar.edu<br> +91-9125799945</p>
  </div>
  <div class="left">
    <img class="photo2" src="{{url_for('static', filename='images/garvit.jpeg')}}">
    <p class="info4">Garvit Nangia <br> Computer Science Undergraduate <br> Thapar Institute of Engineering and Technology, Patiala <br> Web Developer and Machine Learing<br> gnangia_be19@thapar.edu<br> +91-8607169054</p>
  </div>
  <div class="left">
    <img class="photo1" src="{{url_for('static', filename='images/gaurang.jpeg')}}">
    <p class="info3">Gaurang Agrawal <br> Computer Science Undergraduate <br> Thapar Institute of Engineering and Technology, Patiala <br> Web Developer and Machine Learing<br> gagrawal_be19@thapar.edu<br> +91-7678666373</p>
  </div>
  <div class="left">
    <img class="photo2" src="{{url_for('static', filename='images/tushar.jpg')}}">
    <p class="info4">Tushar Chugh <br> Computer Science Undergraduate <br> Thapar Institute of Engineering and Technology, Patiala<br> Machine Learing and Data Analyst<br> tchugh_be19@thapar.edu<br> +91-9803456910</p>
  </div>
  
  <script src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js'></script>
</body>
</html>
